<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wander.mapper,UserMapper">
    <!--登录校验-->
    <select id="selectUserIdByEmailAndPassword" resultType="int">
        select uid from user_table where email = #{email} and password = #{password}
    </select>
    <!--返回用户基本信息-->
    <select id="selectUserInfoByUserId" resultType="com.wander.entity.User">
        select uid,username,avatar,intro from user where uid = #{userId}
    </select>
    <!--查询用户状态-->
    <select id="selectStateByUserId" resultType="int">
        select status from user where uid = #{userId}
    </select>
</mapper>